{% extends 'admin/adminpanel1.html' %}
{% load static %}
{% block body_page %}


<div class="container">
  <h2 class="text-center"> {{ msg }}</h2><br>			
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Day</th>
      <th>Frequency</th>
      <th>Montery</th>
    </tr>
    </thead>
    <tbody>
    <!-- jinja2 Technique -->
    {% if d %}
    
    {% for i in d %}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{i.day}}</td>
      <td>{{i.id}}</td>
      <td>{{i.total}}</td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
  </table>
  </div>
  
{% endblock %}
  
